<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.twosquares.e_mandi">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
    <uses-feature android:name="android.hardware.camera2"
        android:required="false" />
    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="25" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SellingActivity" />
        <activity
            android:name=".ProductDetails"
            android:label="@string/title_activity_product_details"
            >
            <intent-filter>
                <action android:name="com.example.sampleapp.Next" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".UserLogin"
            android:label="User login"/>
        <activity android:name=".UserProfileActivity" />

        <activity android:name=".UserRegister"
            android:label="Registration"></activity>

        <activity android:name=".DashboardActivity" />
        <activity android:name=".SplashScreen" />
        <activity
            android:name=".UserListActivity"
            android:label="Marked By" />
        <activity
            android:name=".EditActivity"
            android:label="Edit Product" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.android.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <receiver android:name=".customHandler" />
        <meta-data android:name="com.google.android.geo.API_KEY" android:value="@string/google_place_api"></meta-data>
    </application>

</manifest>